<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<header>
		<img src="{{url_for('static',filename='pictures/main-banner.png')}}" alt="banner">
		<h1>Main base</h1>
	</header>
	<nav>
		<ul class="dangnhap">
			<ul>
				{%if g.user%}
				<p>Tài Khoản: {{g.user.User.username}} </p>
				<p>ID: {{ g.user.User.id }}</p>
				<p>Trạng thái đăng nhập thành công</p>
				<li><a href="{{url_for('logout')}}">Đăng xuất</a></li>
				{%endif%}
			</ul>
		</ul>
		<ul>
			<li><a href="{{url_for('index')}}"> Trang chủ</a></li>
			<li><a href="{{url_for('login')}}"> Đăng nhập</a></li>
		</ul>
	</nav>
	{%block flash_mess%}
	{%endblock%}

	{% block content %}
	{% endblock %}
	<footer>
	</footer>
</body>

</html>